body {
    padding-top: 50px;
}

.navbar {
    padding-right: 25px;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;

}

.navbar .addBtn {
    float:right;
}

.navbar #text {
    font: 400 25px 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    margin-top:7px; 
    float:left;       
}

.navbar .btn {
    margin-top:3px;
    float:left;
    margin-left:10px;
}

