body {
}

@media screen and (max-width: 350px) {
    body {
        background-color: cornflowerblue;
       
    }
    
}

@media screen and (min-width: 351px) and (max-width: 699px){
    body{
        background-color:aquamarine;
        
    }
    .pad{
        background-color:beige;
    }
}

@media screen and (min-width: 700px){
    body{
        background-color:cadetblue;
       
    }
    .pad{
        background-color:beige;
    }
}
